@model BookStore.Domain.Entities.Book
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //next lines for direct messages
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}
<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Title</h3>
    </div>
    
    @using (Html.BeginForm("Edit","Admin"))
    {
        <div class="panel-body">

            @Html.HiddenFor(b => b.ISBN)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ISBN")
                {
                   <div class="form-group">
                         <label>@(property.DisplayName ?? property.PropertyName)</label>
                        
                        @if (property.PropertyName == "Description")
                        {
                           @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                           @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }

                       @*error messages*@
                       @Html.ValidationMessage(property.PropertyName)

                   </div>
                }
            }


        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to list", "Index", null, new { @class = "btn btn-default" })
        </div>
    }



</div>

    @*يولد الحقول اوتوماتك*@
    @*@using (Html.BeginForm())
        {
            @Html.EditorForModel(); 
            <input type="submit" value="Save" />
            @Html.ActionLink("Cancel and return to list", "Index");
        }*@
